/* cuisine facile css*/
/* ===================== VARIABLES ===================== */
:root{
    --color-blue: #1D4758;
    --color-orange:#F4A261;
    --color-lightCream:#FFF0E5;
    --color-white:#ffff;
    --fnt-familly:"Montserrat", sans-serif;
}

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */


/* MAIN RECIPE */
.image-recipe {
    width: 393px;
    height: 183px;
    border-radius: 50px;
    margin: 20px auto;
    display: block;
} 
/* TITLE H2 H3 H4 ICON AROWS */
h2 {
    font-size: 2.5rem;
    color: var(--color-blue);
    text-align:center;
    margin: 20px 0;
}
.icon-direction-title{
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
.title-sub-title-image{
    align-items: center;
}
h3 {
    font-size: 1.9rem;
    color: var(--color-blue);
    text-align: center;
    margin: 20px 0;
    font-weight: lighter;
}
h4 {
    font-size: 1.5rem;
    color: var(--color-blue);
    text-align: center;
    margin: 20px 0;
}

/* ITEMS TIMES COOKING AND REVIEWS */
.item-cooking-times-label{
    font-size: 1.2rem;
    color: var(--color-blue);
    text-align: left;
    margin: 20px 0;
    font-weight: lighter;
}
.item-cooking-times{
    font-size: 0.9rem;
    color: var(--color-blue);
    text-align: center;
    margin: 20px 0;
    font-weight: bolder;
    /* width: 25%; */
}
.recipe-short-description {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .star2{
    width: 25px;
    height: 25px;
}
    .reviews{
    font-size: 15px;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 1REM;
    color:#1D4758;
}

/* LIKE AND SHARE ICON */
.img-recipe-heart-and-share-icon{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
/* DESCRITION RECIPE */
.recipe-description{
    align-content: center;
    justify-content: center;
    margin-left: 25px  ;
    margin-right: 15px;
}

.recipe-ingredients{
    background-color: #FFF0E5;
    justify-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
/* GRID  */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-content: center;
        justify-content: end;
        align-items: center;
}

/* GRID PREPARATION */
.recipe-preparation
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        

.stape123{
    display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: space-between;
        align-items: flex-start;
    }


.icons-ingredients-preparartion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

/* THE END MAIN RECIPE */


